Flask==2.0.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
Werkzeug==2.0.0
itsdangerous>=2.0
Jinja2>=3.0
MarkupSafe>=2.0
markupsafe==2.0.1
SQLAlchemy>=0.0
WTForms>=2.0
pymysql>=1.0
sqlalchemy_utils==0.38.2
