{% extends 'layout.html' %}
{% block body_content %}

{% for movies in all_movies %}

<h2>{{ movies.name }}</h2>

<form method= '' action='{{ url_for("update", idnum=movies.id) }}'>
    <button>Update</button>
</form>

<form method= '' action='{{ url_for("delete", idnum=movies.id) }}'>
    <button>Delete</button>
</form>

<form method= '' action='{{ url_for("add_review", idnum=movies.id) }}'>
    <button>Add Review</button>
</form>

<form method= '' action='{{ url_for("reviews", idnum=movies.id)}}'>
    <button>View Reviews</button>
</form>

{% endfor %}

{% endblock body_content %}
